.pokemon {
    &-normal {
        background-color: #a5a199;
    }

    &-fighting {
        background-color: #a88c67;
    }

    &-flying {
        background-color: #7489a6;
    }

    &-poison {
        background-color: #84728d;
    }

    &-ground {
        background-color: #816b58;
    }

    &-rock {
        background-color: #8E806A;
    }

    &-bug {
        background-color: #97a87f;
    }

    &-ghost {
        background-color: #5d5b72;
    }

    &-steel {
        background-color: #797979;
    }

    &-fire {
        background-color: #be705d;
    }

    &-water {
        background-color: #6a88ac;
    }

    &-grass {
        background-color: #78a778;
    }

    &-electric {
        background-color: #c5a265;
    }

    &-psychic {
        background-color: #a15071;
    }

    &-ice {
        background-color: #77abcf;
    }

    &-dragon {
        background-color: #6a9c9c;
    }

    &-dark {
        background-color: #464646;
    }

    &-fairy {
        background-color: #bb8989;
    }

    &-unknown {
        background-color: #CDC9C3;
    }

    &-shadow {
        background-color: #707070;
    }
}